services:
  app:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    command: sh -c "alembic upgrade head && uvicorn app.runner.asgi:app --host 0.0.0.0 --port 8000 --reload"
